/*
location colors:
primary: #a2331d
bg: #FAFAFA
*/

#logo-svg {
  stroke: #a2331d;
}

.arrowOn {
  fill: #a2331d;
}

.arrowOff {
  fill: transparent;
}

#arrow-outline {
  stroke: #a2331d;
}

.mainMenu{
  background-color: #FAFAFA;
}

.siteTitle{
  background-color: #FAFAFA;
}

.menuBorderOn{
  border-bottom: 3px solid #a2331d;
  transition: border-bottom 300ms;
}

.menuBorderOff{
  border-bottom: 3px solid #FAFAFA;
  transition: border-bottom 200ms;
}

.location {
  border-top: 3px solid  #a2331d;
  background-color: #FAFAFA;
}

.location:last-child{
  border-bottom: 3px solid  #a2331d;
}

.header {
  background-color: #FAFAFA;
}

.beam {
   border: 3px solid #a2331d;
}

.beamOff{
  background: #FAFAFA;
}

.beamOn{
  background:  #a2331d;
}

.pillar{
  border: 3px solid #a2331d;
  border-top: 0;

}

.topSpace{
  border-right: 3px solid #a2331d;
  background: #FAFAFA;
}

.bottomSpace{
  background-color: #FAFAFA;
}

.optionItem{
  border-bottom: 3px solid #a2331d;
}

.locationItem{
  border-top: 3px solid #a2331d;
}

.listItem{
  border-bottom: 3px solid #a2331d;
}
