/*
location colors:
primary: #006e94
bg: #f7f7f7
*/

#logo-svg {
  stroke: #006e94;
}

.arrowOn {
  fill: #006e94;
}

.arrowOff {
  fill: transparent;
}

#arrow-outline {
  stroke: #006e94;
}

.mainMenu{
  background-color: #f7f7f7;
}

.siteTitle{
  background-color: #f7f7f7;
}

.menuBorderOn{
  border-bottom: 3px solid #006e94;
  transition: border-bottom 300ms;
}

.menuBorderOff{
  border-bottom: 3px solid #f7f7f7;
  transition: border-bottom 200ms;
}

.location {
  border-top: 3px solid  #006e94;
  background-color: #f7f7f7;
}

.location:last-child{
  border-bottom: 3px solid  #006e94;
}

.header {
  background-color: #f7f7f7;
}

.beam {
   border: 3px solid #006e94;
}

.beamOff{
  background: #f7f7f7;
}

.beamOn{
  background:  #006e94;

}

.pillar{
  border: 3px solid #006e94;
  border-top: 0;
}

.topSpace{
  border-right: 3px solid #006e94;
  background: #f7f7f7;
}

.bottomSpace{
  background-color: #f7f7f7;
}

.optionItem{
  border-bottom: 3px solid #006e94;
}

.locationItem{
  border-top: 3px solid #006e94;
}

.listItem{
  border-bottom: 3px solid #006e94;
}
