/*
location colors:
primary: #77998f
bg: #FAFAFA
*/

a:hover{
  color: #77998f;
}

a:hover p{
  color: #77998f;
}

.siteTitleHover{
  color: #77998f;
}

.expandButton p:hover{
  color: #77998f;
}

.location:hover h2{
  color: #77998f;
}

#logo-svg {
  stroke: #77998f;
}

.arrowOn {
  fill: #1E1E1E;
}

.arrowOff {
  fill: transparent;
}

#arrow-outline {
  stroke: #1E1E1E;
}

.mainMenu{
  background-color: #FAFAFA;
}

.siteTitle{
  background-color: #FAFAFA;
}

.menuBorderOn{
  border-bottom: 3px solid #77998f;
  transition: border-bottom 300ms;
}

.menuBorderOff{
  border-bottom: 3px solid #FAFAFA;
  transition: border-bottom 200ms;
}

.location {
  border-top: 3px solid  #77998f;
  background-color: #FAFAFA;
}

.location:last-child{
  border-bottom: 3px solid  #77998f;
}

.header {
  background-color: #FAFAFA;
}

.beam {
   border: 3px solid #77998f;
}

.beamOff{
  background: #FAFAFA;
}

.beamOn{
  background:  #77998f;
}

.pillar{
  border: 3px solid #77998f;
  border-top: 0;

}

.topSpace{
  border-right: 3px solid #77998f;
  background: #FAFAFA;
}

.bottomSpace{
  background-color: #FAFAFA;
}

.optionItem{
  border-bottom: 3px solid #77998f;
}

.locationItem{
  border-top: 3px solid #77998f;
}

.listItem{
  border-bottom: 3px solid #77998f;
}

@media only screen and (max-width: 550px) {
  #arrow-outline {
    stroke-width: 2px;
  }

  .menuBorderOn{
    border-bottom-width: 2px;
  }

  .menuBorderOff{
    border-bottom-width: 2px;
  }

  .location {
    border-top-width: 2px;
  }

  .location:last-child{
    border-bottom-width: 2px;
  }

  .beam {
     border-width: 2px;
  }

  .pillar{
    border-width: 2px;
  }

  .topSpace{
    border-right-width: 2px;
  }

  .optionItem{
    border-bottom-width: 2px;
  }

  .locationItem{
    border-top-width: 2px;
  }

  .listItem{
    border-bottom-width: 2px;
  }

}
