
@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-BoldExte.otf') format('opentype');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-Regu.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-ReguItal.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

*{
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;

}

body, html{
  font-family: 'Nimbus Sans';
  background-color: #FAFAFA;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  padding :0;
  margin:0;
  height: 100vh;
  white-space: nowrap;
  -webkit-overflow-scrolling: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

h1{
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0.02em;
}

h2{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  letter-spacing: 0.02em;

}

h3{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.075em;

}

h4{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-style: italic;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.025em;
}

h5{
  line-height: 40px;
  letter-spacing: 0.025em;
  font-size: 28px;
  padding: 0;
  margin:0;
  margin-top: 36px;
  font-weight: 500;
  font-style: normal;
}

/* Style copied in captions*/
p{
  line-height: 40px;
  letter-spacing: 0.025em;
  padding: 0;
  margin-bottom: 28px;
  margin-top:0;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.caption {
  line-height: 40px;
  letter-spacing: 0.025em;
  padding: 0;
  margin-bottom: 28px;
  margin-top:0;
  font-size: 28px;
}


a{
  text-decoration: none;
  font-size: inherit;
  color: #1e1e1e;
}

p a{
  border-bottom:3px solid #1E1E1E;
}

section{
  margin-bottom: 100px;
}

.visuallyHidden {
  opacity: 0;
  transition: opacity 200ms;
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.enable-select {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

.topSpaceWrapper{
  color: #1E1E1E;
  width: 80vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 4;
  /* use GPU acceleration */
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 0;
  -webkit-backface-visibility: hidden;
  pointer-events:none;

}

.bottomSpaceWrapper{
  color: #1E1E1E;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  position: absolute;
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 0;
  -webkit-backface-visibility: hidden;
}

/*============================================================
Main Menu
============================================================*/

.mainMenu{
  margin-left: calc(10vw - 30px);
  position: absolute;
  width: 60vw;
  z-index:98;
}

/*.siteTitle:hover h1{
  letter-spacing: .09em;
}

.siteTitle h1 {
  transition: letter-spacing 200ms;
}

.location:hover h2{
  letter-spacing: .09em;
}

.location h2 {
  transition: letter-spacing 200ms;
}*/

.siteTitle{
  position: absolute;

  top:0;
  z-index: 99;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 107px;
  width: 100%;
  cursor: pointer;
}

.location{
  position: absolute;

  /*width: 60vw;*/
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  transition: transform 150ms;
  /* use GPU acceleration */
  transform: translate3d(0,0,0);
}

.location a, .location h2{
  text-decoration: none;
  color: #1E1E1E;
  cursor: pointer;
}


/*============================================================
Header
============================================================*/

.header{
  width: 80vw;
  box-sizing: border-box;
  z-index: 80;
}

.beamBox{
  box-sizing: border-box;
  overflow: hidden;
  width: 80vw;
  padding: 30px;
  padding-bottom: 0;
}

.beam{
  box-sizing: border-box;
  display: block;
  height: 8px;
  width: 100%;
}

.arrowBox{
  position: relative;
  width: 100%;
  padding: 30px;
  padding-top:0;
  padding-bottom:0;
  height: 90px; /*set to a little more than the height of the siteTitle*/
}

.headerPillarAndIcon{
  min-width: 30px;
  z-index: 200;
  position: absolute;
  width: calc(10vw - 30px);
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 300ms;
}

.headerArrowContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerArrow{
  transition: transform 200ms;
  transform: rotate3d(0, 0, 1, 0deg);
  -moz-transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transform-origin: 50%% 50%%; /* Chrome, Safari, Opera */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}


.headerArrow-rotate-90{
  transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
}

.headerArrow-rotate-45{
  transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
}


.pillar{
  transform: translateY(-3px);
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 8px;
  z-index: 100;
}

/*============================================================
Top Page
============================================================*/

.topSpace{
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: top left;
  transition:  width 300ms;
  box-sizing: border-box;
  pointer-events:auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 0;
  -webkit-backface-visibility: hidden;

  display: flex;
  flex-direction: column;
}


.topSpaceOpen{
    width: 100%;
}

.topSpaceClosed{
    width: 25%;
}

.gallery{
  flex-grow: 1;
  position: relative;
  width: 80vw;
}


.galleryArrowContainer{
  position: absolute;
  /*margin-top: 105px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  pointer-events: auto;
  height: 100%;
  transition: 200ms;

}

.galleryArrowRightContainerHover{
  transition: transform 200ms;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-origin: center;
}

.galleryArrowRightContainerHover:hover{
  cursor: pointer;
  transform: translate3d(7px,0px,0px);
}

.galleryArrowLeftContainerHover{
  transition: transform 200ms;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-origin: center;
}

.galleryArrowLeftContainerHover:hover{
  cursor: pointer;
  transform: translate3d(-7px,0px,0px);
  transition: transform 200ms;


}

.arrowPositioner{
  position: absolute;
  display: flex;
  height: 100%;
}

.galleryArrowContainer h2{
    display: none;
  }


.galleryArrowLeftContainer{
  margin-left: 9%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  height: 20%;
  transition: 200ms;
  z-index: 800;
}


.galleryArrowLeft{
}

.galleryArrowRightContainer{
  margin-right: 9%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  transition: 200ms;
  z-index: 700;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.galleryMover{
  transition: transform 400ms;
  font-size: 0;
  position: absolute;
  display: flex;
  height: 100%;

}

img{
  max-width: 50vw;
  max-height:70vh;
  width: auto;
  height: auto;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 80vw;
  /*height: 66vh;*/
}

.caption{
  width: 100%;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  z-index: 999;
}

.frame:first-child {
  /*margin-left: 15vw;*/
}

.frame:last-child {
  /*margin-right: 15vw;*/
}

.imgWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.SVGWrapper{
  width: 45vw;
  height: auto;
  }

/*============================================================
bottomSpace Page
============================================================*/

.bottomSpace{
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 80%;
  z-index: 0;
  overflow: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 0;
  -webkit-backface-visibility: hidden
}

.content {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: calc(100vh - 128px);
}

.wrap {
  width: 59vw;
  max-width: 1000px;
  white-space: normal;
  flex-grow: 1;
}

.subWrap{
  width: 100%;
  height: 100%;
  min-height: calc(100vh);
}

.copyright{
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colophonLink{
  opacity: 0.15;
}

.logoAbout{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.connectList{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.contact p, .connect p{
  border-bottom: 3px solid #1E1E1E;
  font-style: italic;
  margin-right: 48px;
}

.locationItem{
  width: 100%;
  padding-bottom: 20px;
}

.locationItem:first-child{
  border-top: none;
}

.spacer {
  height: 100px;
}

.optionList{
}

.optionItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.optionItem:last-child{
  border-bottom: none;
}

.expandButton{
  overflow: hidden;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  height: 94px;
}

.expandButton p{
  border-bottom: 3px solid #1E1E1E;
  cursor: pointer;
}

.listItem {
  overflow: hidden;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  height: 78px;
  transition: height 300ms;
}

.listItem:last-child{
  border-bottom: none;
}

.list .listHider:nth-child(n+7) {
   height: 0;
   border-color: #FAFAFA;
}

.map{
  width: 100%;
}

/* Iframe Booking Feature
*/

#acuityLink{
  display: none;
  font-style: italic;
  color: #1e1e1e;
}

#acuityLink p {
  border-bottom: 2px solid #1E1E1E;
  display:inline-block;
}

.topSpaceActiveHover{
  width: 97%;
}

.topSpaceInactiveHover{
  width: 28%;
}

.fourohfour{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-grow: 1;

}

.fourohfour h1 {
  line-height: 50px;
  transform-origin: center;
  font-size: 30vw;
  -webkit-animation:spin 120s linear infinite;
  -moz-animation:spin 120s linear infinite;
  animation:spin 120s linear infinite;
  text-align: center;
  color: #FF725C;
}

.fourOhFourMessage{
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: .2;
}

.fourOhFourMessage p {
  border-bottom: 3px solid #1E1E1E;
}

.fourOhFourMessage p:hover {
  color: #FF725C;
  cursor: pointer;
}

#errorBody .header, #colophon .header{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#errorBody .mainMenu, #colophon .mainMenu{
  width: 100vw;
  margin-left: -30px;
  pointer-events: none;
}

#errorBody .headerArrowContainer, #colophon .headerArrowContainer{
  min-width: 50px;
}

#errorBody .headerArrowContainer #x{
  transform-origin: center;
  text-align: center;
  color: #1E1E1E;
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;

}

#errorBody .beamBox, #colophon .beamBox{
  width: 100vw;
}

#errorBody, #colophon{
  width: 100vw;
  background: #FAFAFA;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.colophonBody{
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  flex-direction: column;
}

@media only screen and (max-width: 769px) {
  h1{
    font-size: 26px;
  }

  h2{
    font-size: 26px;
  }

  .wrap{
    width: calc(80vw - 64px);
    margin-bottom: 130px;
  }

  section{
    margin-bottom: 75px;
  }

  .contentArrowContainer{
    transform: translateY(35vh);
  }

  .galleryArrowRightContainer{
    padding-right: 5%;
  }

  .galleryArrowLeftContainer{
    padding-left: 5%;
  }

  .galleryArrowContainer h2{
    display: block;
    font-size: 18px;
    }

  .galleryArrowRight{
    transform: scale(0.5)
  }

  .galleryArrowLeft{
    transform: scale(0.5);
  }

  .headerArrow{
  }

  .pillar{
    width: 5px;
  }

  .beam{
    height: 5px;
  }

  .gallery img{
    max-width: calc(80vw - 60px);
    max-height:70vh;
    width: auto;
    height: auto;
  }

  .logoAbout{
    height: 80px;
    margin-bottom: 100px;
  }

  .logoAboutSVG{
    transform: scale(0.5)
  }

  .siteTitle{
    height: 86px;
  }

  .header{
    height: 90px;
  }

  .location{
    height: 80px;
  }

  .mainMenu{
    width: calc(80vw - 60px);
    margin-left: 0;
  }

  .frame {
    align-items: center;
  }

  #acuity{
    display: none;
  }

  #acuityLink{
    display: block;
  }


  .listItem h4 {
    line-height: 30px;
  }

  .galleryArrowLeftContainer, .galleryArrowRightContainer{
    align-self: flex-end;
    margin-bottom: 1vw;
  }

}

@media only screen and (max-width: 550px) {
  h1{
    font-size: 15px;
  }

  h2{
    font-size: 16px;
    line-height: 24px;
  }

  h3{
    font-size: 12px;
  }

  h4{
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
  }

  h5{
    font-size: 16px;
    margin-top: 14px;
    line-height: 24px;
  }

  /* Style copied in captions*/
  p{
    line-height: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  p a{
    border-bottom:2px solid #1E1E1E;
  }

  section{
    margin-bottom: 32px;
  }

  .caption{
    font-size: 18px;
  }

  .beamBox{
    width: 80vw;
    padding: 10px;
    padding-bottom: 0;
  }

  .beam{
    display: block;
    height: 0px;
    width: 100%;
  }

  .pillar{
    width: 0px;
  }

  .arrowBox{
    padding: 10px;
    padding-top:0;
    padding-bottom:0;
  }

  .headerPillarAndIcon{
    width: calc(10vw - 30px);
    height: 40px;
  }

  .header{
    height: 45px;
  }

  .mainMenu{
    box-sizing: border-box;
    width: calc(80vw - 20px);
    height: 46px;
  }

  .siteTitle {
    height: 46px;
  }

  .location{
    height: 40px;
  }

  .logoAbout{
    margin-bottom: 64px;
  }

  .listItem {
    height:48px
  }

  .optionItem {
    height:48px
  }

  .listItem h4 {
    line-height: 20px;
  }

  .galleryArrowLeftContainer, .galleryArrowRightContainer{
    margin-bottom: 14vw;
  }

  .wrap{
    width: calc(80vw - 32px);
    margin-bottom: 130px;
  }

  #errorBody .headerArrowContainer, #colophon .headerArrowContainer {
    min-width: 50px;
  }

  #errorBody .mainMenu, #colophon .mainMenu{
    margin-left: -10px;
  }
}


@media only screen and (max-width: 350px) {
  h1{
    font-size: 11px;
  }

  h2{
    font-size: 11px;
  }
}
