@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-BoldExte.otf') format('opentype');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-Regu.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../../assets/fonts/NimbusSansDOT-ReguItal.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

body, html{
  font-family: 'Nimbus Sans';
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  padding :0;
  margin:0;
  height: auto;
  white-space: nowrap;
  overflow-x: hidden;

}

h1{
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-family: 'Nimbus Sans';
  font-weight: 800;
}

h2{
  margin: 0;
  padding: 0;
  font-family: 'Nimbus Sans';
  font-weight: 500;
  font-style: italic;
  font-size: 42px;
}

h3{
  margin: 0;
  padding: 0;
  font-family: 'Nimbus Sans';
  font-weight: 700;
  font-size: 32px;
}

p{
  margin-top: 48px;
  line-height: 48px;
  padding: 0;
}

.visuallyHidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topSpaceWrapper{
  color: black;
  width: 80vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 4;
  /* use GPU acceleration */
  transform: translate3d(0,0,0);
  pointer-events:none;

}

.bottomSpaceWrapper{
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  position: absolute;
}

/*============================================================
Main Menu
============================================================*/

.mainMenu{
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  box-sizing: border-box;
}


.siteTitle{
  top:0;
  z-index: 99;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 106px;
  width: 59vw;
  min-width: 300px;
  cursor: pointer;
  background-color: #f7f7f7;

}

.bottomSpace .siteTitle {
  border-bottom: 3px solid #006e94;

}

.location{
  position: absolute;
  width: 59vw;
  height: 100px;
  min-width: 300px;
  border-top: 3px solid  #006e94;

  background-color: #f7f7f7;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 150ms;
  /* use GPU acceleration */
  transform: translate3d(0,0,0);
}

.location:last-child{
  border-bottom: 3px solid  #006e94;
}

.location:hover h2, .siteTitle:hover h1{
  opacity: 0.7;
}

.location a, .location h2{
  text-decoration: none;
  color: #006e94;
  cursor: pointer;
}


/*============================================================
Header
============================================================*/

.header{
  width: 80vw;
  box-sizing: border-box;
  position: absolute;
  height: auto;
  background-color: #f7f7f7;
}

.beamBox{
  box-sizing: border-box;
  overflow: hidden;
  width: 80vw;
  padding: 30px;
  padding-bottom: 0;
}

.beam{
  display: block;
  height: 6px;
  width: 100%;
  border: 3px solid #006e94;
}

.beamOff{
  background: #f7f7f7;
}

.beamOn{
  background:  #006e94;
}

.arrowBox{
  display: flex;
  width: 100%;
  padding: 30px;
  padding-top:0;
  padding-bottom:0;

}

.headerArrowContainer{
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerArrowContainer:hover{
  opacity: 0.7;
}

.headerArrow-rotate{
  transform: rotateZ(90deg);
}

.pillar{
  border: 3px solid #006e94;
  border-top: none;
  display: block;
  height: 64px;
  width: 6px;
}

/*============================================================
Top Page
============================================================*/

.topSpace{
  border-right: 3px solid #006e94;
  background-color: #f7f7f7;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: top left;
  transition:  500ms;
  box-sizing: border-box;
  pointer-events:auto;
}


.topSpaceOpen{
    width: 100%;
}

.topSpaceClosed{
    width: 25%;
}

.topSpace .content{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width:80vw;
  height: 100vh;
}

.contentArrowContainer{
  position: absolute;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.galleryArrowRight{
  margin-right: 10%;
}

.galleryArrowLeft{
  transform: rotateZ(180deg);
  margin-left: 10%;

}

.galleryArrowRight:hover,
.galleryArrowLeft:hover {
  opacity: 0.7;
  transition: 300ms;
}



.gallery{
  height: 66vh;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;

  width: 80vw;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.galleryMover{
  width: 100%;
  transition: 400ms;
}

.gallery img{
  height: 66vh;
}

.frame {
  display: inline-block;
  min-width: 80vw;
  height: 66vh;
  margin: 0;
  padding: 0;
}

.frame:first-child {
  /*margin-left: 15vw;*/
}

.frame:last-child {
  /*margin-right: 15vw;*/
}

.imgWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*============================================================
bottomSpace Page
============================================================*/

.bottomSpace{
  background-color: #f7f7f7;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 80%;
  z-index: 0;
  overflow: hidden;
}

.bottomSpace .content {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  width:80vw;
  height: 100%;
}

.wrap{
  padding-top: 250px;
  width: 59vw;
  max-width: 1000px;
  white-space: normal;
  margin-bottom: 180px;
}

.text{
}

.logoAbout{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.wrap section {
  margin-top: 48px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.connectList{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.connect a{
  display: inline-block;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

.contact a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

.contact p, .connect p{
  border-bottom: 3px solid #006e94;
  font-style: italic;
  margin-right: 48px;
}

.locationItem{
  border-top: 3px solid #006e94;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.locationItem a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

.locationItem:first-child{
  border-top: none;
}

.spacer {
  height: 100px;
}
