/*
location colors:
primary: #c4aa7c
bg: #FAFAFA
*/

a:hover{
  color: #c4aa7c;
}

a:hover p{
  color: #c4aa7c;
}

.expandButton p:hover{
  color: #c4aa7c;
}

.siteTitleHover{
  color: #c4aa7c;
}

.location:hover h2{
  color: #c4aa7c;
}

.arrowOn {
  fill: #1E1E1E;
}

.SVGWrapper #comingSoonSVG {
  stroke: #c4aa7c;

}

#logo-svg {
  stroke: #c4aa7c;
}

.arrowOn:hover {
  cursor: pointer;
}

.arrowOff #logo-svg  {
  fill: transparent;
}

#arrow-outline {
  stroke: #1E1E1E;
}

.mainMenu{
  background-color: #FAFAFA;
}

.siteTitle{
  background-color: #FAFAFA;
}

.menuBorderOn{
  border-bottom: 3px solid #c4aa7c;
  transition: border-bottom 300ms;
}

.menuBorderOff{
  border-bottom: 3px solid #FAFAFA;
  transition: border-bottom 200ms;
}

.location {
  border-top: 3px solid  #c4aa7c;
  background-color: #FAFAFA;
}

.location:last-child{
  border-bottom: 3px solid  #c4aa7c;
}

.header {
  background-color: #FAFAFA;
}

.beam {
   border: 3px solid #c4aa7c;
}

.beamOff{
  background: #FAFAFA;
}

.beamOn{
  background:  #c4aa7c;

}

.pillar{
  border: 3px solid #c4aa7c;
  border-top: 0;
}

.topSpace{
  border-right: 3px solid #c4aa7c;
  background: #FAFAFA;
}

.bottomSpace{
  background-color: #FAFAFA;
}

.optionItem{
  border-bottom: 3px solid #c4aa7c;
}

.locationItem{
  border-top: 3px solid #c4aa7c;
}

.listItem{
  border-bottom: 3px solid #c4aa7c;
}

#signature{
  display: flex;
  align-items: center;

}

.emDash{
  height: 3px;
  background: #c4aa7c;
  width: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 550px) {
  #arrow-outline {
    stroke-width: 2px;
  }

  .menuBorderOn{
    border-bottom-width: 2px;
  }

  .menuBorderOff{
    border-bottom-width: 2px;
  }

  .location {
    border-top-width: 2px;
  }

  .location:last-child{
    border-bottom-width: 2px;
  }

  .beam {
     border-width: 2px;
  }

  .pillar{
    border-width: 2px;
  }

  .topSpace{
    border-right-width: 2px;
  }

  .optionItem{
    border-bottom-width: 2px;
  }

  .locationItem{
    border-top-width: 2px;
  }

  .listItem{
    border-bottom-width: 2px;
  }

}
